doctype html
html(lang='en')
head
	title="Mental Mindfulness - Home"
	link(rel='stylesheet', href='/stylesheets/index.css')

	p.head-bar Mental Mindfulness

	a(href="login")
		button(class="login-button" type="button") Login
