doctype html
html(lang='en')
head
	title="Mental Mindfulness - Login"
	link(rel='stylesheet', href='/stylesheets/login.css')

	p.head-bar Mental Mindfulness

	form(method='POST' action='/login')
		label(for='name') Name:
		input#name.form-control(type='text', placeholder='first and last' name='name')

		label(for='pword') Password:
		input#name.form-control(type='password', placeholder='password' name='password')

		button.btn.btn-primary(type='submit') Submit