.content {
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.content h2 {
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
	font-size: 5.25vw;
	padding-top: 175px;
}

.content h3 {
	font-size: 2.5vw;
	margin-top: 10px;
}

.button-row {
	width: 100%;
	padding: 0;
	padding-left: 1.5vw;
	margin: 0;
	text-align: left;
}

.button {
	width: 14.5vw;
	height: 15vh;
	text-align: left;
	font-weight: bold;
	background-color: var(--primary);
	font-size: 1.5vw;
	text-decoration: none;
	color: #fff;
	font-weight: lighter;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: inline-block;
	border-radius: 25px;
	vertical-align: middle;
	text-align: center;
	margin: 5% 1% 5% 1%;
	padding-top: 6vh;
}

.button:hover {
	background-color: #208537;
	text-decoration: none;
	color: #fff;
}

.definition {
	font-size: 1.35vw;
	font-style: italic;
	margin-top: 25%;
}
