body *{
	text-transform: none;
}

.about-info {
	width: 70%;
	margin: 175px auto 0 auto;
}

.about-info-header {
	font-size: 4.5vw;
	margin-bottom: 60px;
}

.about-info-task {
	font-size: 2.25vw;
	margin-bottom: 25px;
}

.about-info-task i {
	margin-right: 15px;
	font-size: 2.2vw;
}

.about-info-signup {
	font-size: 2.25vw;
	 margin-bottom: 25px;
	 text-align: center;
	 border-top: 2px solid #000;
	 padding-top: 40px;
}

.new-info button {
	width: 15vw;
}

#failMsg {
	color: #fff;
	margin: auto;
	padding-right: 5px;
	font-style: italic;
	font-weight: bold;
}




