body {
	background-color: white;
}

.head-bar {
	width: auto;
	height: 10%;
	background-color: #e6ccff;
	text-align: center;
	font-weight: bold;
}

.login-button {
	width: 100%;
	height: 30px;
	background-color: #e6ccff;
	text-align: center;
	font-weight: bold;
	border-style: dotted;
}