.form-feeling:not(.question-box) {
	padding-top: 100px;
	font-size: 2em;
	text-align: left;
	margin-left: 20px;
}

.form-feeling label:not(.question) {
	margin: 20px 0px;
	width: 15%;
	font-size: 0.75em;
}

.form-feeling label input {
	vertical-align: middle;
	margin-right: 8px;
}

.question {
	width: 75%;
	display: inline-block;
	margin-bottom: 20px;
	text-align: left;
	font-weight: bold;
}

.question-box {
	width: 75%;
	height: 300px;
	vertical-align: top;
	padding: 8px;
	margin-bottom: 40px;
}

.btn {
	margin-bottom: 50px;
	width: 20%;
}