.signup-form {
	width: 30%;
	text-align: center;
	padding-top: 100px;
	margin: 0 auto;
	font-size: 2.5em;
}

.signup-form input {
	margin: 20px 0px;
}

.btn-success {
	width: 430px;
	text-align: center;
}