<!DOCTYPE html>
<html lang="en">
  	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  		<link rel="stylesheet" href="/stylesheets/base.css">
  		<link rel="stylesheet" href="/stylesheets/index.css">
  		<title>Mental Mindfulness - Home</title>
	</head>
	<body>
    	<div class="navbar">
    		<h1>Mental Mindfulness</h1>
  		</div>
  		<div class="content">
    		<a class="button" href="login">Login</a>
    		<a class="button" href="signup">Sign Up</a>
  		</div>
    </body>
</html>
