<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <title>Reflect</title>
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/journal.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark fixed-top">
        <ul class="navbar-nav">
          <li class="navbar-brand">
              <a class="navbar-brand" href="#">reflect</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Past Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Goals</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Alex</a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Profile Settings</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
        </ul>
    </nav>
    <form class="form-feeling" action="/"> 
      How are you feeling in this moment?<br>
      <labeL><input type="radio" name="feeling" value="Content"/>Content</labeL>
      <label><input type="radio" name="feeling" value="Upset"/>Angry</label>
      <label><input type="radio" name="feeling" value="Loved"/>Loved</label>
      <label><input type="radio" name="feeling" value="Afraid"/>Afraid</label><br>
      <label><input type="radio" name="feeling" value="Surprised"/>Surprised</label>
      <label><input type="radio" name="feeling" value="Upset"/>Upset</label>
      <label><input type="radio" name="feeling" value="Anxious"/>Anxious</label>
      <label><input type="radio" name="feeling" value="Silly"/>Silly</label><br>
      <label class="question">Now that you're here, what are your first thoughts about today? Are they mostly positive or negative?</label><br>
      <input class="question-box" type="text" placeholder="Write as much, or as little, as you want"/>

    </form>

</body>
</html>