<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <title>Reflect</title>
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/journal.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark fixed-top">
        <ul class="navbar-nav">
          <li class="navbar-brand">
              <a class="navbar-brand" href="home">reflect</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Past Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Goals</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Alex</a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Profile Settings</a>
              <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
          </li>
        </ul>
    </nav>
    <form class="form-feeling" method="POST" action="/journal"> 
      <p class="question">How are you feeling in this moment?</p><br>
      <label><input type="checkbox" name="feeling" value="Angry"/>Angry</label>
      <label><input type="checkbox" name="feeling" value="Anxious"/>Anxious</label>
      <label><input type="checkbox" name="feeling" value="Content"/>Content</label>
      <label><input type="checkbox" name="feeling" value="Embarrassed"/>Embarrassed</label>
      <label><input type="checkbox" name="feeling" value="Frustrated"/>Frustrated</label><br>
      <label><input type="checkbox" name="feeling" value="Hopeful"/>Hopeful</label>
      <label><input type="checkbox" name="feeling" value="Lonely"/>Lonely</label>
      <label><input type="checkbox" name="feeling" value="Motivated"/>Motivated</label>
      <label><input type="checkbox" name="feeling" value="Proud"/>Proud</label>
      <label><input type="checkbox" name="feeling" value="Worthless"/>Worthless</label><br><br>
      <p class="question">Now that you're here, what are your first thoughts about today? Are they mostly positive or negative?</p><br>
      <textarea name="firstthoughts" class="question-box"></textarea>
      <p class="question">Explain why you're currently feeling what you marked.</p><br>
      <textarea name="whyfeeling" class="question-box"></textarea>
      <p class="question">What would make today better?</p><br>
      <textarea name="whatbetter" class="question-box"></textarea>
      <p class="question">What stands out about today?</p><br>
      <textarea name="standout" class="question-box"></textarea><br>
      <button type="submit" class="btn btn-success btn-lg">Save</button>
    </form>
</body>
</html>