<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <title>Mental Mindfulness - Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <p class="head-bar">Mental Mindfulness</p>
    <form method="POST" action="/login"><label for="name">Name:</label><input class="form-control" id="name" type="text" placeholder="first and last" name="name"><label for="pword">Password:</label><input class="form-control" id="name" type="password" placeholder="password" name="password">
        <button
            class="btn btn-primary" type="submit">Submit</button>
    </form>
</head>