doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
        link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
        // <link rel="shortuct icon" type="image/png" href="/stylesheets/brain.ico"/>
        title Reflect
        link(rel='stylesheet', href='/stylesheets/base.css')
        link(rel='stylesheet', href='/stylesheets/journal.css')
        link(rel='stylesheet', href='/stylesheets/mood.css')
    body
        nav.navbar.navbar-expand-sm.bg-success.navbar-dark.fixed-top
            ul.navbar-nav
                li.navbar-brand
                    a.navbar-brand(href='home') reflect
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href='/history') Past Posts
                li.nav-item
                    a.nav-link(href='/pastgoals') Goals
                li.nav-item.dropdown
                    a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') #{user.username}
                    .dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href='/logout') Log Out
        .form-content
            form.form-feeling(action='/home')
                p.title Mood Tracker
                p.directions Fill in all fields.
                br
                p.question Sum up today in 5 words or less:
                br
                textarea.question-box(required='')
                p.question How many hours of sleep did you get last night?
                br
                input.number-box(required='', type='number', min='0')
                p.question How would you describe your diet today?
                br
                textarea.question-box(required='')
                p.question Did you exercise today? If yes, for how long?
                br
                textarea.question-box(required='')
                br
                p.question Describe today's leisure time. What did you spend it doing?
                br
                textarea.question-box(required='')
                br
                button.btn.btn-success.btn-lg(type='submit') Save
