<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mental Mindfulness - Login</title>
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/login.css">

</head>

<body>
  <h1 class="navbar">Mental Mindfulness</h1>
  <div class="content">
    <form method="POST" action="/signup" class="login-form">
      <div class="label-input">
        <label for="name">Name</label>
        <input class="form-control" id="name" type="text" placeholder="First Last" name="name">
      </div>
      <div class="label-input">
        <label for="username">Username</label>
        <input class="form-control" id="username" type="text" placeholder="Username" name="username">
      </div>
      <div class="label-input">
        <label for="pword">Password</label>
        <input class="form-control" id="password" type="password" placeholder="Password" name="password">
      </div>
      <button class="button" type="submit">Submit</button>
    </form>
  </div>

</body>

</html>
